/*unstyled.css*/

a:hover, a:focus-visible {
  outline: 2px solid #325050;
  border-radius: 2px;
  text-decoration: none;
}

input, select, select option, button, summary { min-height: 24px; min-width: 24px; } /*WCAG 2.2 CR SC 2.5.8*/

