@import url("verdemoderna.css");

input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] + label,
input[type="radio"] + label { 
  cursor: pointer; 
}

/* Not working in Firefox 119 & 120, unless you enable the setting layout.css.has-selector.enabled
  See https://caniuse.com/css-has
*/
label:has(input[type="radio"]),
label:has(input[type="checkbox"]) { 
  cursor: pointer;
}

/* Not working in Firefox 119 & 120, unless you enable the setting layout.css.has-selector.enabled
  See https://caniuse.com/css-has
*/
/*
label:has(input[type="radio"]),
label:has(input[type="checkbox"]),
label:has(input) { 
  cursor: pointer;
}

p:has(select) label,
div:has(select) label {
  cursor: default;
}
*/
