
dialog[open] {
  background: #fafafa;
  border: 2px solid black;
  padding: 14px 18px 18px 18px;
  z-index: 101;
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.6;
  overflow: hidden;
  z-index: 100;
}

dialog h1, dialog h2 {
  color: black;
  background-color: inherit;
  margin-top: 6px;
  padding-top: 0px;
  font-size: 1.4rem;
}

button {
  font-size: 1rem;
}
