div.first-choice, div.second-choice { display: inline-block; margin-right: 12px; }
form div.second-choice.hidden { display: none; }
form div.first-choice select { width: 16rem; }
form div.second-choice select { min-width: 24rem; }

/* clearfix method explained at https://css-tricks.com/almanac/properties/f/float/ */
/*
.clearfix:after { content: ""; visibility: hidden;  display: block; height: 0; clear: both; }
*/
