.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--spinner-colour);
  border-color: var(--spinner-colour) transparent var(--spinner-colour) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button#add-alert { display: block;
}

:root {
  --spinner-colour: #7CB9E8; /* #7CB9E8 = Argentinan Blue; contrast ratio with wite: 3.83:1 */
}


