form { margin-bottom: 2rem;
  padding-left: 0.5rem;
  border: 1px dotted gray;
  border-radius: 4px; 
}

label { display: inline-block; width: 9rem; }

input:focus { background-color: #fffacd; }

/*input:invalid { border-color: red; }*/

