h1 { color: #4B5320; }

header, #alert {
  width: 50%;
}

header {
  padding: 20px 10px;
  background-color: #ACE1AF; /*#DADD98*/
  /*background-image: linear-gradient(to right, #228B22, #DADD98);*/
  /* gradient:
    #4B5320 on #228B22: 1.87:1 : fail
    #4B5320 on #DADD98: 5.77:1 : pass
    #4B5320 on #57a244: inside letter 'o':  2.6:1: fail.
      WAVE: no contrast issue.
      Axe: "Element's background color could not be determined due to a background gradient".
        This warning also appears when contrast in the gradient is sufficient, e.g. yellow to #DADD98.
  */
  background-image: linear-gradient(to right, #50C878, #ACE1AF);
  /* gradient:
    #4B5320 on #50C878: 3.86:1 : pass for large text
    #4B5320 on #ACE1AF: 5.53:1 : pass for both normal and large text
      WAVE: no contrast issue.
      Axe: "Element's background color could not be determined due to a background gradient".
  */
  /*background-image: linear-gradient(to right, #87A96B, #DADD98); */
}

#alert { border: 2px solid red; margin-top: 40px; margin-bottom: 20px; }
#alert > * { margin: 10px; }

/*background colours below provide at least 9.87:1 contrast ratio with black link text:*/
a.imglink { text-decoration: none; color: black; background-image: linear-gradient(to right, #50C878, #ACE1AF); }
a.imglink:hover, a.imglink:focus { color: black; background-image: linear-gradient(to right, #ACE1AF, #90EE90); }
dfn[role] { display: block; }
