#intro { width: 46%; }

p:focus { font-weight: bold; color: var(--warning-text-colour); outline: none; }

span[role=alert].hidden { display: none; }
span[role=alert] { display: block; position: absolute; left: 58%; }
span[role=alert]:focus { border: 2px dashed var(--warning-text-colour); }

input:focus { border: 2px solid green; }
#username-status { top: 285px; }
#password-status { top: 315px; }
form p { height: 2rem; width: 46%; }
form p label { display: inline-block; min-width: 13rem; }

#obscurantism { width: 50%;
  padding: 24px 12px;
  position: absolute; left: 48%; top: 272px;
  color: black; background-color: #D0F0C0; /*tea green*/
  opacity: 0.6;
}

#obscurantism.nontransparent {
  opacity: 1;
}

#obscurantism h2 { margin-top: 6px; }

footer#footer { margin-top: 260px; }

button#opacitytoggle { font-size: 1.2rem; font-weight: bold; background-color: silver; }
button#opacitytoggle:focus, button#opacitytoggle:hover { outline: 2px solid green; background-color: white; }

:root {
  --warning-text-colour: #CC0000;
}

