p:focus { font-weight: bold; color: red; outline: none; }

span[role=alert].hidden { display: none; }
/*span[role=alert] { display: block; position: fixed; left: 50%; }*/
span[role=alert] { display: block; position: relative; left: 50%; margin-top: 10%; }
span[role=alert]:focus { border: 2px dashed red; }

input:focus { border: 2px solid green; }
#username-status { top: 90%; }
#password-status { top: 94%; }
form p { height: 2rem; }
form p label { display: inline-block; min-width: 13rem; }

#wcag, .filler {
  width: 50%;
}

#wcag {
  padding: 24px 12px;
  color: black; background-color: #D0F0C0; /*tea green*/
}

#wcag h2 { margin-top: 6px; }

main { margin-bottom: 160px; }

div.filler { margin-top: 120px; }

footer { position: fixed;
  width: 96%;
  height: 100px;
  bottom: 0px;
  padding: 16px 10px;
  background-color: #D0F0C0; /*tea green*/
  opacity: 0.6;
}

#obscurantism.nontransparent {
  opacity: 1;
}

dfn {
  font-style: normal;
  font-weight: bold;
}

button#opacitytoggle { font-weight: bold; }
/*
button#opacitytoggle { font-size: 1.2rem; font-weight: bold; background-color: silver; }
button#opacitytoggle:focus, button#opacitytoggle:hover { outline: 2px solid green; background-color: white; }
*/
