details { padding-left: 1em; border: 1px dotted black; }
details summary { margin-left: -.8em; }
details summary:hover { background-color: #FCF6CF; cursor: pointer; }
details summary:focus { background-color: #FCF6CF; cursor: pointer; }

