/* This stylesheet is always work in progress*/
/* SC 1.1.1a & 1.1.1b: */
/*
img, a img, a svg, button img, button[alt], button[type="image"], button[style^=background-image], img[onlick] { border: 3px dotted lime; padding: 3px;}
img[alt], picture img[alt] { border: 3px dashed green !important; }
img:not([alt='']) { border: 2px dashed lime !important; }
img[alt=''], a img[alt=''] { border: 3px dashed gold !important; }
img:not([alt]), img[alt=" "], a img:not([alt]) { border: 3px solid red !important; }
*/

/* img:not([alt]):before { content: "??"; }
img[alt=""]::before { content: "NIL "; }
a, button { visibility: hidden; } */
/*Hide all images:*/
/*img, svg { visibility: hidden; }*/

/* SC 1.2.1: video and audio (classes for Able Player can vary) */
/*
video, audio, div.youtube-layer, video-js, div.able-player, div.able-media-container { border: 4px solid lime; }
*/

/* SC 1.3.1a & SC 2.4.6a: heading elements */
/*h1, h2, h3, h4, h5, h6 {background-color:#AAA; }*/
/*
h1, h2, h3, h4, h5, h6 { outline: 2px solid gold;}
h1::before { content: "h1: "; font-size: 1rem; border: 2px dotted gold; border-radius: 4px; background-color: black; color: white; }
h2::before { content: "h2: "; font-size: 1rem; border: 2px dotted gold; border-radius: 4px; background-color: black; color: white;  }
h3::before { content: "h3: "; font-size: 1rem; }
h4::before { content: "h4: "; font-size: 1rem; }
h5::before { content: "h5: "; font-size: 1rem; }
h6::before { content: "h6: "; font-size: 1rem; }
h1[role=presentation], h2[role=presentation], h3[role=presentation], h4[role=presentation], h5[role=presentation], h6[role=presentation] { outline: 2px dotted red; }
*/

/* SC 1.3.1b: lists */
/*
ol::before { content: "ol: "; }
ul::before { content: "ul: "; }
dl::before { content: "dl: "; }
ol, ul, dl { background-color:rgba(255, 255, 0, .2); }
div:not([role=list]) div[role=listitem] { outline: 2px dotted red; }
*/

/* SC 1.3.1c: quotes */
/*
q::before { content: "Q: "; }
blockquote::before { content: "BQ: "; }
*/

/* SC 1.3.1d: paragraph elements; emphasis etc:*/
/*
p, address { outline: 1px dashed gray; }
address:before { content: "address:"; outline: 1px dashed gray; }

em::before { content: "em: "; }
strong::before { content: "strong: "; }
b::before { content: "b: "; }
i::before { content: "i: "; }
em, strong, b, i { background-color:rgba(255, 255, 0, .2); }
*/

/* SC 1.3.1e-g: tables, including nested tables */
/*table::before { content: "tbl"; }*/
/*
table[summary]::before { content: "summary: " attr(summary); color: red; background-color: white; }
table { background-color:rgba(255, 255, 0, .2); border: 1px solid red; }
table th { border: 3px dashed green; }
table td { border: 2px dashed blue; }
th table, td table { border: 2px dotted red; }
*/

/* SC 1.3.1h & SC 3.3.2: input & label */
/*
input:not([id]), select:not([id]), textarea:not([id]), label:not([for]) { background-color: #ff9933; border: 2px dashed red; }
input:not([id])[aria-label] {background-color: #ccff33; }
input[id], select[id], textarea[id], label[for] { border: 2px dashed green; }
*/

/* SC 1.3.2a: make focus more visible to check meaningful (tab) sequence: */
/*
li[role=menuitme]:focus a, a:focus, h1:focus, h2:focus, h3:focus, h4:focus, input:focus, select:focus, button:focus, textarea:focus { outline: 3px solid red; background-color: gold; }
iframe:focus, figure:focus { border: 3px dashed lime; }
*/

/* SC 1.3.4 (temp): test responsive Google Map & YouTube iframes*/
/*
@media screen and (max-width: 500px) {
  iframe[src^='https://www.google.com/maps/embed'], iframe[src^='https://www.youtube.com/'] {
    width: 100% !important; height: 100% !important;
  }
}
*/

/* SC 1.3.5: autocomplete */
/*
input[autocomplete] { border: 2px dashed lime !important; }
input[type=email]:not([autocomplete]) { border: 2px dotted red; }
input[type=tel]:not([autocomplete]) { border: 2px dotted red; }
input[autocomplete=off] { background-color: #FFBFEA !important; }
input[type=email][autocomplete=off], input[type=tel][autocomplete=off] { border: 2px dashed red; }
*/
/* CSS-generated content does not work for input elements: https://stackoverflow.com/a/27708091/6002174
input[autocomplete='tel']:before { content: '☎️'; }
*/

/* SC 1.4.1: all colours black on white to check that nothing relies on colour differences */
/*
body *, body * a:link { color: black; background-color: white !important; }
*/

/* SC 1.4.3: check whether colours have been defined for each element */
/*
html { background-color:black; color:white; }
*/

/* SC 1.4.11 / BITV 1.4.11a: */
/*
body {background-color:black; color:white;}
*/

/* SC 1.4.12: text spacing */
/*
p, li, th, td, pre {
    letter-spacing: 0.12em;
    word-spacing: 0.16em;
    line-height: 1.5;
}
li p {
    line-height: 1.0;
}
p, li {
    margin-bottom: 2rem;
}
*/

/* make keyboard focus visible for SC 2.1.1 / SC 2.4.3 */
/*
div:focus, table:focus, iframe:focus { outline: 3px dashed fuchsia !important; background-color:lightyellow !important; color: black; }
a:focus, input:focus, textarea:focus, select:focus, button:focus { outline: 3px dashed lime !important; background-color:#ffff99 !important; color: black; }
input[type=checkbox]:focus ~ label, input[type=radio]:focus ~ label { background-color: gold; }
a:not([href]) { outline: 1px dotted red; }
a[id]:focus:before { content: attr(id); background-color:#ffff99 !important; color: black;}
a:not([id]):focus:before { content: attr(href); background-color:#ffff99 !important; color: black;}
a:not([href]):focus:before { content: "WTF?"; background-color:#ffff99 !important; color: black;}
*/

/*a:hover { background-color: #ffff99;}
input:not([id]) { background-color: lime; }
div[tabindex]::before { content: 't=' attr(tabindex); border: 1px solid red; color: red; background-color: yellow; }
*/

/* SC 2.1.4: highlight elements with accesskeys; display accesskey for links: */
/*
a[accesskey], input[accesskey], button[accesskey] { border: 3px dotted gold; padding: 3px; }
a[accesskey]:before { content: 'accesskey: ' attr(accesskey); color: red; background-color: #eee; position: relative; margin-top: -1rem; text-align: right; }
*/

/* SC 2.4.1 */
/*
a[class^='skip'], a[class='skip-link'], a[href^='#main'], a[href*='main-content'], a.skip-navigation:link {
  visibility: visible; display: inline-block; 
  position: absolute; top: 4px; left: 4px;
  z-index: 1000;
}
a:link:focus { visibility: visible; }
main, nav, header, footer { margin: 2px; }
main { border: 2px dashed blue; padding: 2px; }
nav { border: 2px dashed green;}
header, footer { border: 2px dashed red;}
main::before { content: "main"; color: red; background: yellow; font-size: 1rem; }
nav::before { content: "nav"; color: red; background: yellow; font-size: 1rem; }
header::before { content: "header"; color: red; background: yellow; font-size: 1rem; }
footer::before { content: "footer"; color: red; background: yellow; font-size: 1rem; }
article::before, *[role=article]::before { content: "📰"; }
article[role=article]::before { content: "📰📰"; border: 2px dotted red; }
*/

/* SC 2.4.4: highlight links to non-HTML targets & display aria-labels on links: */
/*
a[href$="pdf"], a[href$="docx"], a[href$="doc"], a[href$="odf"], a[href$="ppt"], a[href$="pptx"], a[href$="xls"], a[href$="xlsx"], a[href$="json"], a[href$="rss"], a[href$="xml"] {
  outline: 2px dashed lime;
}
a[aria-label]::after { content: attr(aria-label); color: red; background-color: #eee; }
*/
/* SC 2.4.4: display only links: */
/* :not(a) { visibility: hidden; } 
a { visibility: visible; color: black; background: transparent; } */

/* SC 2.4.6: find iframe with/without title attribute: */
/*
iframe { border: 4px dotted lime; }
iframe:not([title]) { border: 3px solid red; }
*/
/*not working:
iframe::before { content: "ifr: " attr(title); color: red; background-color: white; border: 1px dotted red;
    margin-top: -10px; margin-left: -5rem; }*/

/* SC 2.5.3a: display aria-labels, highlight elements with aria-labelledby: */
/*
a[aria-label]::after { content: attr(aria-label); color: #FF00FF; background-color: #eee; }
*[aria-label]::after { content: attr(aria-label); color: red; background-color: #eee; }
*[aria-labelledby] { outline: 2px dashed lime; }
*/
/* selector not working:
form *[aria-label]::after { content: attr(aria-label); color: red; background-color: #eee; display: block; }
*/

/* SC 3.1.1 and 3.1.2: detect missing lang; display xml:lang or lang attribute: */
/*
html:not([lang]) body, html[lang=""] { background-color: #ff1493; }
html:not([lang]) body[lang] { background-color: #6495ED; }
*[xml\:lang]::before { content: "[xml:" attr(xml\:lang) "]"; color: red; background-color: lime;  }
*[lang]::before { content: "[" attr(lang) "]"; color: black; background-color: lime; }
*[dir]:not([lang]) { outline: 4px dashed #ff1493 !important; }
*/

/* SC 4.1.2: display role and onclick attributes: */
/*
*[role]::before { content: "[role=" attr(role) "]"; color: black; background-color: lime; }
div[role=none]::before  { content: "[div@role=" attr(role) "]"; color: black; background-color: lime; }
*[aria-label]::after { content: attr(aria-label); color: red; background-color: #eee; }
*[aria-labelledby] { outline: 2px dashed lime; }
div[aria-label]::before { content: "div@aria-label=" attr(aria-label); color: black; background-color: #FFE4B5; }
*[role=timer]::before { content: "⏰"; }
*[role=dialog]::before { content: "🗨️"; }
*[onclick]::after { content: "[🖱️onclick]"; color: black; background-color: #FFFF33; font-size:.8rem; }
input[required], input[aria-required] { border: 1px dashed red; }
*/

/* *[onclick]::after { content: "[onclick=" attr(onclick) "]"; color: black; background-color: #FFFF33; font-size:.8rem; }*/

/* SC 4.1.3: display role=alert / role=alertdialog / role=dialog */
/*
*[role="alert"]::before, *[role="alertdialog"]::before  { content: "[role=💣" attr(role) "]"; color: black; background-color: #FFFF99; font-size: 1rem; }
*[role="dialog"]::before { content: "[role=🗨️" attr(role) "]"; color: black; background-color: #FFFF99; font-size: 1rem; }
*[role="alert"], *[role="alertdialog"], *[role="dialog"] { border: 2px dotted lime; }
button { outline: 3px dotted gold; }
button:focus { outline: 3px solid red !important; color: blue; background-color: yellow; }
*/

/*no success criterion:*/
/*
*[id] { border: 2px dotted lime;}
svg { outline: 2px dotted red; }
*/

/* Copyright Christophe Strobbe, 2020 - ∞.*/
